In [1]:
#import libraries
import pandas as pd
import numpy as np

In [4]:
data_frame_liquors = pd.read_csv('database_liquors.csv')

In [5]:
data_frame_liquors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434260 entries, 0 to 434259
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   invoice              434260 non-null  object
 1   date                 434260 non-null  object
 2   store_number         434260 non-null  int64
 3   store_name           434260 non-null  object
 4   address              434260 non-null  object
 5   city                 434260 non-null  object
 6   zip_code             434260 non-null  int64
 7   store_location       434260 non-null  object
 8   county_number        434260 non-null  int64
 9   county               434260 non-null  object
 10  category             434260 non-null  int64
 11  category_name        434260 non-null  object
 12  vendor_number        434260 non-null  int64
 13  vendor_name          434260 non-null  object
 14  item_number          434260 non-null  int64
 15  item_description     434260 non-null  object
 16  pack                 434260 non-null  int64
 17  bottle_volume        434260 non-null  float64
 18  state_bottle_cost    434260 non-null  float64
 19  state_bottle_retail  434260 non-null  float64
 20  bottles_sold         434260 non-null  float64
 21  sale_usd             434260 non-null  float64
 22  volume_sold_lt       434260 non-null  float64
 23  volume_sold_gallons  434260 non-null  float64
dtypes: float64(7), int64(7), object(10)
memory usage: 79.5+ MB

In [6]:
data_frame_liquors.head()

,invoice,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,item_number,item_description,pack,bottle_volume,state_bottle_cost,state_bottle_retail,bottles_sold,sale_usd,volume_sold_lt,volume_sold_gallons
0,INV-22970800091,11/01/2019,2569,Hy-Vee Food Store #2 / Cedar Rapids,279 Collins Road NE,Cedar Rapids,52402,POINT (-91.630677 42.027805),57,LINN,...,42718,Malibu Coconut Rum,6,1.75,16.99,25.49,1.0,25.49,1.75,0.46
1,INV-22958000044,11/01/2019,2603,Hy-Vee Wine and Spirits / Bettendorf,2890 Devils Glen Road,Bettendorf,52722,POINT (-90.483701 41.552338),82,SCOTT,...,45278,Paramount White Rum,6,1.75,7.84,11.76,6.0,70.56,10.50,2.77
2,INV-22975400022,11/01/2019,5857,EZ Stop II - Dubuque,700 Rhomberg Avenue,Dubuque,52001,POINT (-90.663494 42.515732),31,DUBUQUE,...,37886,Seagrams Extra Smooth Vodka,12,750.00,5.38,8.07,2.0,16.14,1.50,0.39
3,INV-22976000009,11/01/2019,3782,Bender Foods / Guttenberg,619 S Hwy 52,Guttenberg,52052,POINT (-91.100489 42.77964),22,CLAYTON,...,12467,Canadian Mist Whisky,12,1.00,7.22,10.83,3.0,32.49,3.00,0.79
4,INV-22951100010,11/01/2019,4678,Fareway Stores #124 / Adel,804 Nile Kinnick Dr,Adel,50003,POINT (-94.01679600000001 41.61025),25,DALLAS,...,12408,Canadian Ltd Whisky,6,1.75,8.14,12.21,6.0,82.26,10.50,2.77

In [8]:
len(data_frame_liquors)

434260

In [11]:
#renombrando una columna para usar id
data_frame_liquors = data_frame_liquors.rename(columns = {'invoice':'invoice_id'})

In [12]:
data_frame_liquors.head()

,invoice_id,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,item_number,item_description,pack,bottle_volume,state_bottle_cost,state_bottle_retail,bottles_sold,sale_usd,volume_sold_lt,volume_sold_gallons
0,INV-22970800091,11/01/2019,2569,Hy-Vee Food Store #2 / Cedar Rapids,279 Collins Road NE,Cedar Rapids,52402,POINT (-91.630677 42.027805),57,LINN,...,42718,Malibu Coconut Rum,6,1.75,16.99,25.49,1.0,25.49,1.75,0.46
1,INV-22958000044,11/01/2019,2603,Hy-Vee Wine and Spirits / Bettendorf,2890 Devils Glen Road,Bettendorf,52722,POINT (-90.483701 41.552338),82,SCOTT,...,45278,Paramount White Rum,6,1.75,7.84,11.76,6.0,70.56,10.50,2.77
2,INV-22975400022,11/01/2019,5857,EZ Stop II - Dubuque,700 Rhomberg Avenue,Dubuque,52001,POINT (-90.663494 42.515732),31,DUBUQUE,...,37886,Seagrams Extra Smooth Vodka,12,750.00,5.38,8.07,2.0,16.14,1.50,0.39
3,INV-22976000009,11/01/2019,3782,Bender Foods / Guttenberg,619 S Hwy 52,Guttenberg,52052,POINT (-91.100489 42.77964),22,CLAYTON,...,12467,Canadian Mist Whisky,12,1.00,7.22,10.83,3.0,32.49,3.00,0.79
4,INV-22951100010,11/01/2019,4678,Fareway Stores #124 / Adel,804 Nile Kinnick Dr,Adel,50003,POINT (-94.01679600000001 41.61025),25,DALLAS,...,12408,Canadian Ltd Whisky,6,1.75,8.14,12.21,6.0,82.26,10.50,2.77

In [13]:
#cambiando columnas a mayusculas
data_frame_liquors.columns = [x.upper() for x in data_frame_liquors.columns]
#hay veces en las que las columnas pueden venir en mayusculas (eso no nos conviene)

In [14]:
data_frame_liquors

,INVOICE_ID,DATE,STORE_NUMBER,STORE_NAME,ADDRESS,CITY,ZIP_CODE,STORE_LOCATION,COUNTY_NUMBER,COUNTY,...,ITEM_NUMBER,ITEM_DESCRIPTION,PACK,BOTTLE_VOLUME,STATE_BOTTLE_COST,STATE_BOTTLE_RETAIL,BOTTLES_SOLD,SALE_USD,VOLUME_SOLD_LT,VOLUME_SOLD_GALLONS
0,INV-22970800091,11/01/2019,2569,Hy-Vee Food Store #2 / Cedar Rapids,279 Collins Road NE,Cedar Rapids,52402,POINT (-91.630677 42.027805),57,LINN,...,42718,Malibu Coconut Rum,6,1.75,16.99,25.49,1.0,25.49,1.75,0.46
1,INV-22958000044,11/01/2019,2603,Hy-Vee Wine and Spirits / Bettendorf,2890 Devils Glen Road,Bettendorf,52722,POINT (-90.483701 41.552338),82,SCOTT,...,45278,Paramount White Rum,6,1.75,7.84,11.76,6.0,70.56,10.50,2.77
2,INV-22975400022,11/01/2019,5857,EZ Stop II - Dubuque,700 Rhomberg Avenue,Dubuque,52001,POINT (-90.663494 42.515732),31,DUBUQUE,...,37886,Seagrams Extra Smooth Vodka,12,750.00,5.38,8.07,2.0,16.14,1.50,0.39
3,INV-22976000009,11/01/2019,3782,Bender Foods / Guttenberg,619 S Hwy 52,Guttenberg,52052,POINT (-91.100489 42.77964),22,CLAYTON,...,12467,Canadian Mist Whisky,12,1.00,7.22,10.83,3.0,32.49,3.00,0.79
4,INV-22951100010,11/01/2019,4678,Fareway Stores #124 / Adel,804 Nile Kinnick Dr,Adel,50003,POINT (-94.01679600000001 41.61025),25,DALLAS,...,12408,Canadian Ltd Whisky,6,1.75,8.14,12.21,6.0,82.26,10.50,2.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434255,INV-24264100023,12/31/2019,3943,Good and Quick Co,519 Lincolnway,Nevada,50201,POINT (-93.464816 42.022781),85,STORY,...,75212,Kinky Blue Mini,6,50.00,4.84,7.26,2.0,14.52,0.10,0.02
434256,INV-24260000052,12/31/2019,4102,Fareway Stores #386 / Ames,619 Burnett Ave,Ames,50010,POINT (-93.615428 42.027426),85,STORY,...,22215,Woodford Reserve,12,750.00,22.49,33.74,4.0,134.96,3.00,0.79
434257,INV-24263600053,12/31/2019,2663,Hy-Vee Food Store / Urbandale,8701 Douglas,Urbandale,50322,POINT (-93.739105 41.629364),77,POLK,...,46504,Kraken Black Spiced Rum,12,750.00,10.45,15.68,12.0,188.16,9.00,2.37
434258,INV-24272000003,12/31/2019,4203,Liquor and Tobacco Outlet /,620 W Bremer Ave,Waverly,50677,POINT (-92.47898 42.725694),9,BREMER,...,36447,Ingenioz,12,750.00,12.54,18.81,12.0,225.72,9.00,2.37
434259,INV-24260000037,12/31/2019,4102,Fareway Stores #386 / Ames,619 Burnett Ave,Ames,50010,POINT (-93.615428 42.027426),85,STORY,...,10803,Crown Royal Regal Apple Mini,10,50.00,7.35,11.03,1.0,11.03,0.05,0.01

In [15]:
#cambiando columnas a minusculas
data_frame_liquors.columns = [x.lower() for x in data_frame_liquors.columns]

In [16]:
data_frame_liquors

,invoice_id,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,item_number,item_description,pack,bottle_volume,state_bottle_cost,state_bottle_retail,bottles_sold,sale_usd,volume_sold_lt,volume_sold_gallons
0,INV-22970800091,11/01/2019,2569,Hy-Vee Food Store #2 / Cedar Rapids,279 Collins Road NE,Cedar Rapids,52402,POINT (-91.630677 42.027805),57,LINN,...,42718,Malibu Coconut Rum,6,1.75,16.99,25.49,1.0,25.49,1.75,0.46
1,INV-22958000044,11/01/2019,2603,Hy-Vee Wine and Spirits / Bettendorf,2890 Devils Glen Road,Bettendorf,52722,POINT (-90.483701 41.552338),82,SCOTT,...,45278,Paramount White Rum,6,1.75,7.84,11.76,6.0,70.56,10.50,2.77
2,INV-22975400022,11/01/2019,5857,EZ Stop II - Dubuque,700 Rhomberg Avenue,Dubuque,52001,POINT (-90.663494 42.515732),31,DUBUQUE,...,37886,Seagrams Extra Smooth Vodka,12,750.00,5.38,8.07,2.0,16.14,1.50,0.39
3,INV-22976000009,11/01/2019,3782,Bender Foods / Guttenberg,619 S Hwy 52,Guttenberg,52052,POINT (-91.100489 42.77964),22,CLAYTON,...,12467,Canadian Mist Whisky,12,1.00,7.22,10.83,3.0,32.49,3.00,0.79
4,INV-22951100010,11/01/2019,4678,Fareway Stores #124 / Adel,804 Nile Kinnick Dr,Adel,50003,POINT (-94.01679600000001 41.61025),25,DALLAS,...,12408,Canadian Ltd Whisky,6,1.75,8.14,12.21,6.0,82.26,10.50,2.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434255,INV-24264100023,12/31/2019,3943,Good and Quick Co,519 Lincolnway,Nevada,50201,POINT (-93.464816 42.022781),85,STORY,...,75212,Kinky Blue Mini,6,50.00,4.84,7.26,2.0,14.52,0.10,0.02
434256,INV-24260000052,12/31/2019,4102,Fareway Stores #386 / Ames,619 Burnett Ave,Ames,50010,POINT (-93.615428 42.027426),85,STORY,...,22215,Woodford Reserve,12,750.00,22.49,33.74,4.0,134.96,3.00,0.79
434257,INV-24263600053,12/31/2019,2663,Hy-Vee Food Store / Urbandale,8701 Douglas,Urbandale,50322,POINT (-93.739105 41.629364),77,POLK,...,46504,Kraken Black Spiced Rum,12,750.00,10.45,15.68,12.0,188.16,9.00,2.37
434258,INV-24272000003,12/31/2019,4203,Liquor and Tobacco Outlet /,620 W Bremer Ave,Waverly,50677,POINT (-92.47898 42.725694),9,BREMER,...,36447,Ingenioz,12,750.00,12.54,18.81,12.0,225.72,9.00,2.37
434259,INV-24260000037,12/31/2019,4102,Fareway Stores #386 / Ames,619 Burnett Ave,Ames,50010,POINT (-93.615428 42.027426),85,STORY,...,10803,Crown Royal Regal Apple Mini,10,50.00,7.35,11.03,1.0,11.03,0.05,0.01

In [17]:
#convirtiendo la columna date de type:obj a type:pd.date_time
data_frame_liquors['date'].dtypes

dtype('O')

In [18]:
data_frame_liquors['date'] = pd.to_datetime(data_frame_liquors['date'])

In [19]:
data_frame_liquors['date'].dtypes #<M8[ns] = datetime64[ns]

dtype('<M8[ns]')

In [20]:
np.dtype('datetime64[ns]') == np.dtype('<M8[ns]')

True

In [22]:
data_frame_liquors['date_mes'] = data_frame_liquors['date'].dt.month

In [24]:
data_frame_liquors.head()

,invoice_id,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,item_description,pack,bottle_volume,state_bottle_cost,state_bottle_retail,bottles_sold,sale_usd,volume_sold_lt,volume_sold_gallons,date_mes
0,INV-22970800091,2019-11-01,2569,Hy-Vee Food Store #2 / Cedar Rapids,279 Collins Road NE,Cedar Rapids,52402,POINT (-91.630677 42.027805),57,LINN,...,Malibu Coconut Rum,6,1.75,16.99,25.49,1.0,25.49,1.75,0.46,11
1,INV-22958000044,2019-11-01,2603,Hy-Vee Wine and Spirits / Bettendorf,2890 Devils Glen Road,Bettendorf,52722,POINT (-90.483701 41.552338),82,SCOTT,...,Paramount White Rum,6,1.75,7.84,11.76,6.0,70.56,10.50,2.77,11
2,INV-22975400022,2019-11-01,5857,EZ Stop II - Dubuque,700 Rhomberg Avenue,Dubuque,52001,POINT (-90.663494 42.515732),31,DUBUQUE,...,Seagrams Extra Smooth Vodka,12,750.00,5.38,8.07,2.0,16.14,1.50,0.39,11
3,INV-22976000009,2019-11-01,3782,Bender Foods / Guttenberg,619 S Hwy 52,Guttenberg,52052,POINT (-91.100489 42.77964),22,CLAYTON,...,Canadian Mist Whisky,12,1.00,7.22,10.83,3.0,32.49,3.00,0.79,11
4,INV-22951100010,2019-11-01,4678,Fareway Stores #124 / Adel,804 Nile Kinnick Dr,Adel,50003,POINT (-94.01679600000001 41.61025),25,DALLAS,...,Canadian Ltd Whisky,6,1.75,8.14,12.21,6.0,82.26,10.50,2.77,11

In [25]:
#truncar valores
data_frame_liquors['date_mes_truncate'] = data_frame_liquors['date'].values.astype('datetime64[M]')

In [27]:
data_frame_liquors['date_mes_truncate']

0        2019-11-01
1        2019-11-01
2        2019-11-01
3        2019-11-01
4        2019-11-01
            ...
434255   2019-12-01
434256   2019-12-01
434257   2019-12-01
434258   2019-12-01
434259   2019-12-01
Name: date_mes_truncate, Length: 434260, dtype: datetime64[ns]

In [30]:
df_nulo = data_frame_liquors.isnull().sum()

In [31]:
df_nulo

invoice_id             0
date                   0
store_number           0
store_name             0
address                0
city                   0
zip_code               0
store_location         0
county_number          0
county                 0
category               0
category_name          0
vendor_number          0
vendor_name            0
item_number            0
item_description       0
pack                   0
bottle_volume          0
state_bottle_cost      0
state_bottle_retail    0
bottles_sold           0
sale_usd               0
volume_sold_lt         0
volume_sold_gallons    0
date_mes               0
date_mes_truncate      0
dtype: int64

In [33]:
data_frame_liquors['category_name'].unique().tolist()

['Flavored Rum',
 'White Rum',
 'American Vodkas',
 'Canadian Whiskies',
 'American Cordials & Liqueur',
 'Whiskey Liqueur',
 'Straight Bourbon Whiskies',
 'Blended Whiskies',
 'Tennessee Whiskies',
 'Imported Vodkas',
 'Spiced Rum',
 'Temporary & Specialty Packages',
 'American Schnapps',
 'Cocktails /RTD',
 'Mixto Tequila',
 'Aged Dark Rum',
 'Imported Flavored Vodka',
 'Coffee Liqueurs',
 'American Flavored Vodka',
 'American Dry Gins',
 'Scotch Whiskies',
 'Triple Sec',
 'Cream Liqueurs',
 'Imported Brandies',
 'Imported Cordials & Liqueurs',
 'American Brandies',
 'Irish Whiskies',
 '100% Agave Tequila',
 'Imported Schnapps',
 'Gold Rum',
 'Neutral Grain Spirits',
 'Special Order Items',
 'Imported Dry Gins',
 'Single Malt Scotch',
 'Corn Whiskies',
 'Straight Rye Whiskies',
 'Single Barrel Bourbon Whiskies',
 'Neutral Grain Spirits Flavored',
 'Imported Distilled Spirit Specialty',
 'Bottled in Bond Bourbon',
 'Mezcal',
 'Temporary &  Specialty Packages',
 '0',
 'Flavored Gin',
 'American Distilled Spirit Specialty',
 'American Sloe Gins',
 'Imported Cordials & Liqueur',
 'Imported Vodka',
 'American Vodka',
 'Imported Distilled Spirits Specialty',
 'Iowa Distillery Whiskies',
 'American Cordials & Liqueurs',
 'Cocktails / RTD']

In [34]:
#filtrar dataframe pro algun parametro de un columna y esto se puede guardar como un subset de nuestro dataframe original
data_frame_liquors[data_frame_liquors['category_name'] == 'Spiced Rum']

,invoice_id,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,pack,bottle_volume,state_bottle_cost,state_bottle_retail,bottles_sold,sale_usd,volume_sold_lt,volume_sold_gallons,date_mes,date_mes_truncate
17,INV-22963900002,2019-11-01,3710,New York Dollar Store,219 Main St,Columbus Junction,52738,POINT (-91.360496 41.279559),58,LOUISA,...,48,200.00,2.75,4.13,96.0,396.48,19.20,5.07,11,2019-11-01
35,INV-22981200065,2019-11-01,3818,Round Window Liquor,703 W Pleasant St,Knoxville,50138,POINT (-93.10564100000002 41.320746),63,MARION,...,6,1.75,18.00,27.00,2.0,54.00,3.50,0.92,11,2019-11-01
54,INV-22949300004,2019-11-01,5384,Casey's General Store # 2698/ Perry,1308 1st Street,Perry,50220,POINT (-94.196008 41.595366),25,DALLAS,...,6,1.75,18.00,27.00,3.0,81.00,5.25,1.38,11,2019-11-01
86,INV-22958200021,2019-11-01,5371,State Food Mart,3715 State St.,Bettendorf,52722,POINT (-90.482018 41.528972),82,SCOTT,...,12,750.00,5.00,7.50,12.0,90.00,9.00,2.37,11,2019-11-01
91,INV-22980100002,2019-11-01,4027,Wal-Mart 1621 / Centerville,23148 Hwy 5,Centerville,52544,POINT (-92.867849 40.70856),4,APPANOOSE,...,6,1.75,11.55,17.33,6.0,103.98,10.50,2.77,11,2019-11-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434186,INV-24264600013,2019-12-31,2544,Hy-Vee Food Store / Marshalltown,802 South Center,Marshalltown,50158,POINT (-92.912817 42.039205),64,MARSHALL,...,6,1.75,10.00,15.00,12.0,180.00,21.00,5.54,12,2019-12-01
434211,INV-24268700015,2019-12-31,5599,Kwik Stop 4,515 Broadway St,Waterloo,50703,POINT (-92.345106 42.510792),7,BLACK HAWK,...,12,1.00,11.75,17.63,4.0,70.52,4.00,1.05,12,2019-12-01
434225,INV-24271200022,2019-12-31,5244,The Ox & Wren Spirits and Gifts,708 2nd AVE SE,Cresco,52136,POINT (-92.106529 43.371131),45,HOWARD,...,12,750.00,9.06,13.59,12.0,163.08,9.00,2.37,12,2019-12-01
434238,INV-24264000136,2019-12-31,2666,Hy-Vee Food Store #2 / State Ankeny,2510 SW State St,Ankeny,50023,POINT (-93.621824 41.705188),77,POLK,...,12,50.00,4.80,7.20,2.0,14.40,0.10,0.02,12,2019-12-01
434257,INV-24263600053,2019-12-31,2663,Hy-Vee Food Store / Urbandale,8701 Douglas,Urbandale,50322,POINT (-93.739105 41.629364),77,POLK,...,12,750.00,10.45,15.68,12.0,188.16,9.00,2.37,12,2019-12-01

In [38]:
#Filtrando por 'Spiced Rum' y obteniendo valores unicos
data_frame_liquors['item_description'][data_frame_liquors['category_name'] == 'Spiced Rum'].unique().tolist()

['Captain Morgan Original Spiced PET',
 'Captain Morgan Original Spiced',
 'Lady Bligh Spiced Rum',
 'Admiral Nelson Spiced Rum',
 'Admiral Nelson Spiced Rum PET',
 'Captain Morgan Original Spiced Mini',
 'Captain Morgan Original Spiced Barrel',
 'Trader Vics Private Selection Spiced Rum',
 'Kraken Black Spiced Rum',
 'Blue Ox Spiced Rum',
 'Caliber Spiced Rum',
 'Sailor Jerry Spiced Navy Rum',
 'Captain Morgan Black Spiced',
 'Captain Morgan 100prf Spiced Rum',
 'Admiral Nelson Spiced 101',
 'Rondiaz Rum Spiced',
 'Captain Morgan Private Stock',
 'Admiral Nelson Spiced Rum Mini',
 'Bacardi Oakheart',
 'Kraken Black Spiced Rum 70prf',
 'Blackheart Premium Spiced Rum',
 'Blue Chair Bay Spiced Rum',
 'Kraken Black Spiced 70prf',
 'Holy Hell',
 'Calypso Spiced Rum',
 'Wisconsin Club Spiced Rum',
 'Leadslingers Black Flag Spiced Rum',
 'Blue Ox Spiced Rum Mini',
 'Kirkland Signature Original Spiced Rum',
 'Paradise White Sand']

In [41]:
#creando dataframe para todos los datos donde el item_description sea Captain Morgan
data_captain_morgan = data_frame_liquors.query('item_description == "Captain Morgan Original Spiced"')

In [45]:
data_captain_morgan.to_csv('captain_morgan.csv')

In [53]:
#creando dataframe para describir las ventas de cada botella por ciudad
df_summarize = data_frame_liquors.groupby(['item_description','category_name',
                                           'county','date_mes_truncate']).agg({'bottles_sold':'sum', 
                                                                                'sale_usd':'sum',
                                                                              'state_bottle_cost':'mean',
                                                                              'state_bottle_retail':'mean'}).reset_index()

In [54]:
df_summarize

,item_description,category_name,county,date_mes_truncate,bottles_sold,sale_usd,state_bottle_cost,state_bottle_retail
0,1800 Anejo,100% Agave Tequila,BLACK HAWK,2019-11-01,3.0,100.86,22.41,33.62
1,1800 Anejo,100% Agave Tequila,BLACK HAWK,2019-12-01,2.0,67.24,22.41,33.62
2,1800 Anejo,100% Agave Tequila,BUENA VIST,2019-11-01,3.0,100.86,22.41,33.62
3,1800 Anejo,100% Agave Tequila,BUENA VIST,2019-12-01,4.0,134.48,22.41,33.62
4,1800 Anejo,100% Agave Tequila,CERRO GORD,2019-11-01,2.0,67.24,22.41,33.62
...,...,...,...,...,...,...,...,...
86626,Zaya Gran Reserva Rum w/Ice Ball Tray,Temporary & Specialty Packages,WASHINGTON,2019-11-01,2.0,41.94,13.98,20.97
86627,Ziyad White Rye DISCO,American Distilled Spirit Specialty,KEOKUK,2019-11-01,2.0,48.00,16.00,24.00
86628,Ziyad White Rye DISCO,American Distilled Spirit Specialty,POLK,2019-11-01,3.0,72.00,16.00,24.00
86629,Zyr Vodka,Special Order Items,POLK,2019-11-01,12.0,270.00,15.00,22.50
86630,maDIKwe,American Distilled Spirit Specialty,WARREN,2019-11-01,24.0,417.36,11.59,17.39

In [55]:
df_summarize = df_summarize.set_index('item_description')

In [57]:
index_df_item = df_summarize.index

In [58]:
type(index_df_item)

pandas.core.indexes.base.Index

In [64]:
df_summarize[['bottles_sold','date_mes_truncate']] #un solo corchete == serie, dos o mas == DataFrame

                                       bottles_sold date_mes_truncate
item_description
1800 Anejo                                      3.0        2019-11-01
1800 Anejo                                      2.0        2019-12-01
1800 Anejo                                      3.0        2019-11-01
1800 Anejo                                      4.0        2019-12-01
1800 Anejo                                      2.0        2019-11-01
...                                             ...               ...
Zaya Gran Reserva Rum w/Ice Ball Tray           2.0        2019-11-01
Ziyad White Rye DISCO                           2.0        2019-11-01
Ziyad White Rye DISCO                           3.0        2019-11-01
Zyr Vodka                                      12.0        2019-11-01
maDIKwe                                        24.0        2019-11-01

[86631 rows x 2 columns]

In [75]:
df_bacachito = df_summarize.loc['Bacardi Oakheart']

In [76]:
df_bacachito

,category_name,county,date_mes_truncate,bottles_sold,sale_usd,state_bottle_cost,state_bottle_retail
item_description,,,,,,,
Bacardi Oakheart,Spiced Rum,ALLAMAKEE,2019-12-01,2.0,22.50,7.5000,11.250000
Bacardi Oakheart,Spiced Rum,AUDUBON,2019-11-01,3.0,33.75,7.5000,11.250000
Bacardi Oakheart,Spiced Rum,AUDUBON,2019-12-01,4.0,45.00,7.5000,11.250000
Bacardi Oakheart,Spiced Rum,BLACK HAWK,2019-11-01,54.0,888.50,10.7100,16.067143
Bacardi Oakheart,Spiced Rum,BLACK HAWK,2019-12-01,17.0,191.25,7.5000,11.250000
...,...,...,...,...,...,...,...
Bacardi Oakheart,Spiced Rum,STORY,2019-12-01,41.0,483.73,8.2490,12.374000
Bacardi Oakheart,Spiced Rum,WAPELLO,2019-12-01,3.0,33.75,7.5000,11.250000
Bacardi Oakheart,Spiced Rum,WARREN,2019-12-01,12.0,135.00,7.5000,11.250000
Bacardi Oakheart,Spiced Rum,WOODBURY,2019-11-01,36.0,472.44,9.3725,14.060000
Bacardi Oakheart,Spiced Rum,WOODBURY,2019-12-01,26.0,359.94,9.3725,14.060000

In [81]:
#filtrando por 'Bacardi Oakheart' y 'Kraken Black Spiced 70prf'
df_summarize.loc[['Bacardi Oakheart','Kraken Black Spiced 70prf']]

,category_name,county,date_mes_truncate,bottles_sold,sale_usd,state_bottle_cost,state_bottle_retail
item_description,,,,,,,
Bacardi Oakheart,Spiced Rum,ALLAMAKEE,2019-12-01,2.0,22.50,7.50,11.250000
Bacardi Oakheart,Spiced Rum,AUDUBON,2019-11-01,3.0,33.75,7.50,11.250000
Bacardi Oakheart,Spiced Rum,AUDUBON,2019-12-01,4.0,45.00,7.50,11.250000
Bacardi Oakheart,Spiced Rum,BLACK HAWK,2019-11-01,54.0,888.50,10.71,16.067143
Bacardi Oakheart,Spiced Rum,BLACK HAWK,2019-12-01,17.0,191.25,7.50,11.250000
...,...,...,...,...,...,...,...
Kraken Black Spiced 70prf,Spiced Rum,WARREN,2019-12-01,12.0,179.88,9.99,14.990000
Kraken Black Spiced 70prf,Spiced Rum,WEBSTER,2019-11-01,12.0,179.88,9.99,14.990000
Kraken Black Spiced 70prf,Spiced Rum,WINNEBAGO,2019-12-01,1.0,14.99,9.99,14.990000
Kraken Black Spiced 70prf,Spiced Rum,WOODBURY,2019-11-01,12.0,179.88,9.99,14.990000
Kraken Black Spiced 70prf,Spiced Rum,WOODBURY,2019-12-01,18.0,269.82,9.99,14.990000

In [82]:
#filtrando todo lo que haya entre Bacardi Oakheart y Kraken Black Spiced 70prf y se ira saltando 2 hasta llegar a Kraken
df_summarize.loc['Bacardi Oakheart':'Kraken Black Spiced 70prf':2]

,category_name,county,date_mes_truncate,bottles_sold,sale_usd,state_bottle_cost,state_bottle_retail
item_description,,,,,,,
Bacardi Oakheart,Spiced Rum,ALLAMAKEE,2019-12-01,2.0,22.50,7.50,11.25
Bacardi Oakheart,Spiced Rum,AUDUBON,2019-12-01,4.0,45.00,7.50,11.25
Bacardi Oakheart,Spiced Rum,BLACK HAWK,2019-12-01,17.0,191.25,7.50,11.25
Bacardi Oakheart,Spiced Rum,BOONE,2019-12-01,5.0,56.25,7.50,11.25
Bacardi Oakheart,Spiced Rum,BUCHANAN,2019-11-01,3.0,33.75,7.50,11.25
...,...,...,...,...,...,...,...
Kraken Black Spiced 70prf,Spiced Rum,STORY,2019-12-01,16.0,239.84,9.99,14.99
Kraken Black Spiced 70prf,Spiced Rum,VAN BUREN,2019-11-01,2.0,29.98,9.99,14.99
Kraken Black Spiced 70prf,Spiced Rum,WARREN,2019-12-01,12.0,179.88,9.99,14.99
Kraken Black Spiced 70prf,Spiced Rum,WINNEBAGO,2019-12-01,1.0,14.99,9.99,14.99
Kraken Black Spiced 70prf,Spiced Rum,WOODBURY,2019-12-01,18.0,269.82,9.99,14.99

In [85]:
#Es posible combinar .iloc y .loc
df_summarize.iloc[3:59].loc[:,['date_mes_truncate']]

                 date_mes_truncate
item_description
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-11-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Anejo              2019-12-01
1800 Anejo              2019-12-01
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Anejo              2019-12-01
1800 Anejo              2019-12-01
1800 Anejo              2019-11-01
1800 Anejo              2019-12-01
1800 Coconut            2019-12-01
1800 Coconut            2019-12-01
1800 Coconut            2019-12-01
1800 Coconut            2019-11-01
1800 Coconut            2019-12-01
1800 Coconut            2019-11-01
1800 Coconut            2019-12-01
1800 Coconut            2019-12-01
1800 Coconut            2019-11-01
1800 Coconut            2019-11-01
1800 Coconut            2019-12-01
1800 Coconut            2019-11-01
1800 Coconut            2019-12-01
1800 Coconut            2019-11-01
1800 Coconut            2019-12-01
1800 Coconut            2019-11-01
1800 Coconut            2019-12-01
1800 Coconut            2019-11-01
1800 Coconut            2019-12-01
1800 Coconut            2019-12-01

In [93]:
#Filtrando por category_name donde 'Rum' este dentro de ese registro (Como si fuera findall de regex)
df_rums = data_frame_liquors[data_frame_liquors['category_name'].str.contains('Rum')]
df_rums

,invoice_id,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,pack,bottle_volume,state_bottle_cost,state_bottle_retail,bottles_sold,sale_usd,volume_sold_lt,volume_sold_gallons,date_mes,date_mes_truncate
0,INV-22970800091,2019-11-01,2569,Hy-Vee Food Store #2 / Cedar Rapids,279 Collins Road NE,Cedar Rapids,52402,POINT (-91.630677 42.027805),57,LINN,...,6,1.75,16.99,25.49,1.0,25.49,1.75,0.46,11,2019-11-01
1,INV-22958000044,2019-11-01,2603,Hy-Vee Wine and Spirits / Bettendorf,2890 Devils Glen Road,Bettendorf,52722,POINT (-90.483701 41.552338),82,SCOTT,...,6,1.75,7.84,11.76,6.0,70.56,10.50,2.77,11,2019-11-01
12,INV-22951300011,2019-11-01,4411,KUM & GO #95 / DE SOTO,1203 Guthrie St,De Soto,50069,POINT (-94.012641 41.538192),25,DALLAS,...,24,375.00,4.50,6.75,3.0,20.25,1.12,0.29,11,2019-11-01
17,INV-22963900002,2019-11-01,3710,New York Dollar Store,219 Main St,Columbus Junction,52738,POINT (-91.360496 41.279559),58,LOUISA,...,48,200.00,2.75,4.13,96.0,396.48,19.20,5.07,11,2019-11-01
22,INV-22950500023,2019-11-01,4362,Kum & Go #135 / Polk City,303 W Broadway St,Polk City,50226,POINT (-93.71443100000002 41.772214),77,POLK,...,12,750.00,8.26,12.39,2.0,24.78,1.50,0.39,11,2019-11-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434238,INV-24264000136,2019-12-31,2666,Hy-Vee Food Store #2 / State Ankeny,2510 SW State St,Ankeny,50023,POINT (-93.621824 41.705188),77,POLK,...,12,50.00,4.80,7.20,2.0,14.40,0.10,0.02,12,2019-12-01
434246,INV-24259700036,2019-12-31,2190,"Central City Liquor, Inc.",1460 2ND AVE,Des Moines,50314,POINT (-93.619787 41.60566),77,POLK,...,12,750.00,8.26,12.39,1.0,12.39,0.75,0.19,12,2019-12-01
434251,INV-24263000033,2019-12-31,2535,Hy-Vee Food Store #1 / WDM,1700 Valley West Dr,West Des Moines,50265,0,77,POLK,...,12,750.00,4.00,6.00,12.0,72.00,9.00,2.37,12,2019-12-01
434254,INV-24269800024,2019-12-31,5582,Casey's General Store #1398 / Roland,201 E Maple,Roland,50236,POINT (-93.500072 42.166381),85,STORY,...,12,50.00,5.54,8.31,1.0,8.31,0.05,0.01,12,2019-12-01
434257,INV-24263600053,2019-12-31,2663,Hy-Vee Food Store / Urbandale,8701 Douglas,Urbandale,50322,POINT (-93.739105 41.629364),77,POLK,...,12,750.00,10.45,15.68,12.0,188.16,9.00,2.37,12,2019-12-01

In [96]:
#Agrupando por cada botella y viendo cuanto se vendio y cuantas se vendieron
df_rums.groupby('item_description')[['sale_usd','bottles_sold']].sum()

                                          sale_usd  bottles_sold
item_description
Admiral Nelson Black Patch                 2016.00         192.0
Admiral Nelson Cherry Spiced Rum          25587.00        2010.0
Admiral Nelson Coconut Rum                 6505.56         631.0
Admiral Nelson Silver                      7243.94         418.0
Admiral Nelson Spiced 101                  4758.75         423.0
...                                            ...           ...
Sugarlands Mark & Diggers Hazelnut Rum      121.68           6.0
Trader Vics Private Selection Spiced Rum  11655.00         777.0
Wisconsin Club Gold Rum                     228.08          28.0
Wisconsin Club Spiced Rum                  3622.50         345.0
Zaya Gran Reserva Rum                      2684.16         128.0

[170 rows x 2 columns]

In [98]:
#Agrupando por botella y viendo cuanto se vendio y cuanto cuesta la botella en promedio
data_frame_liquors[data_frame_liquors['category_name'].str.contains('Rum')].groupby('item_description').agg({'sale_usd':'sum','bottles_sold':'mean'}).sort_values('sale_usd',ascending=False)

                                          sale_usd  bottles_sold
item_description
Captain Morgan Original Spiced          1144989.22     17.104110
Malibu Coconut Rum                       425484.01     11.873185
Admiral Nelson Spiced Rum                413537.39     10.107872
Bacardi Superior                         407096.94     10.445315
Captain Morgan Original Spiced Barrel    188244.00     23.221584
...                                            ...           ...
Rondiaz Rum Spiced Apple Mini               112.16      1.454545
Real McCoy 3YR                              110.70      6.000000
Blue Ox Silver Rum Mini                      90.00      1.000000
Kirkland Signature Original Spiced Rum       72.30    230.400000
Commanders Spiced Rum                         7.97      1.000000

[170 rows x 2 columns]